<!DOCTYPE html>
<html>
<head>
  <title>Sokwe</title>
  <%= stylesheet_link_tag    "sokwe/application", media: "all" %>
  <%= javascript_include_tag "sokwe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
